<!DOCTYPE html>
<html lang="en">

<head>
  <title>Members Page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
  <script src="https://kit.fontawesome.com/50d38ee57a.js"></script>
  <link href="/stylesheets/assets/css/horoscope.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>


  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"  id="logOutBtn" >Logout</a>
    </div>
      <a id="backbtn" class="nav navbar-brand navbar-right">Back to Dogs</a>
  </div>



  
</nav>
    {{{ body }}}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="/js/horoscope.js"></script>
</body>

</html>