<div class="horoscopeDiv col-10">

    <h3 class="horoscopeSign mt-2 ml-3 pt-2">{{horoscope.sign}}</h3>
    <br>

    <p class="horoscopeText mx-3 px-2">{{horoscope.text}}</p>


{{!-- <button id="backbtn">Back to Dogs</button> --}}
</div>


