body {

    width: 100%;
    height: 100%;
    background-image: url(../img/sora-sagano.jpg);
    background-position: top;
    background-repeat: no-repeat;
    /* background-size: cover; */
    position: relative;;
}

#welcome_banner {
    font-size: large;
    text-align: left;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background: rgba(239, 240, 239, 0.8); 
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    /* background-color: #dddddd; */
    background: rgba(160, 160, 160, 0.8);
  }


  .horoscopeDiv {
    width: 700px;
    height: 400px;
    margin: 0 auto;
    /* background-color: ivory; */
    background-image: url(../img/image1.gif);
    background-position: top;
    background-repeat: no-repeat;
    /* background-size: cover; */
    position: relative;
  }

  p {
      font-family: "Lato";
      font-size: large;
      color: white
  }

  h3 {
      font-family: "Lato";
      color: white;
     
  }

  .horoscopeSign {
      font-size: x-large;
  }

  #credit {
        position: absolute;
        bottom: 0;
        left: 0;
      }

    