body {
  height: 100%;
  width: 100%;
}

#welcome_banner {
    font-size: large;
    text-align: left;
}


.container {
  background: url(../img/dog4.png) center bottom no-repeat, url(../img/sora-sagano.jpg) no-repeat;
	background-image: no-repeat; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    background-size: cover;
    /* position: absolute; */
      /* bottom: 0; */
}


h3{
    font-family: "Lato";
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background: rgba(239, 240, 239, 0.8); 
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    /* background-color: #dddddd; */
    background: rgba(160, 160, 160, 0.8);
  }


  .horoscopeDiv {
    width: 75%;
    height: 500px;
    margin: 0 auto;
    background-color: ivory;
    background-image: url(../img/image1.gif);
    background-position: top;
    background-repeat: no-repeat;
  }