body {
	background: url(../img/dog2.png), url(../img/sora-sagano.jpg);
    background-position: left, top;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;
    width: 100%;
    height: 100%;
}

#imgDiv {
    background-size: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}